# Avoid Excel Temporary Files 
Src/~$*.xlsm
Src/~$*.xlam
# iGNORE: Node Modules, exec folders, exe - binary
WebUploader/node_modules
WebUploader/browser
WebUploader/out

WebUploader/.vs
WebUploader/dist
WebUploader/.git
# iGNORE: Node Modules, exec folders, exe - binary
LabelPdfPrinter/node_modules
LabelPdfPrinter/pdf-layout
LabelPdfPrinter/pdf-output

