# Avoid Excel Temporary Files 
Src/~$*.xlsm
Src/~$*.xlam
# iGNORE: Node Modules - RUN npm install on script Directory to download neccesary files 
WebUploader/node_modules
WebUploader/dist
Addins
WebUploader/out
WebUploader/.git

